body {
  background: #992c2c;
  margin: 0;
}

// Index Page
.index-heading {
  text-align: center;
  margin: 2px;
}

.select-puzzle {
  text-align: center;
  display: inline-block;
  width: 30%;
  vertical-align: top;
  margin: 10px;
}

.select-puzzle h1 a {
  text-decoration: none;
  color: #000;
}

.select-puzzle h1 a:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
}

.puzzle-preview {
  width: 100%;
}

// Show Pages
.puzzle {
  position: relative;
  text-align: center;
}

.heading {
  width: 1100px;
  margin: 0 auto;
}

.heading h1 {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 10px;
}

.heading h1:first-of-type {
  float: left;
}

.heading h1:last-of-type {
  float: right;
}

.heading h1 a {
  color: #000;
  text-decoration: none;
}

.heading h1 a:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
}

.puzzle-image {
  margin-left: 40px;
  width: 1100px;
  height: auto;
  border: 2px solid black;
  display: inline-block;
  float: left;
}

.selection-menu {
  width: 110px;
  border: 2px solid red;
  background: #e2e2e2;
  display: inline-block;
  position: absolute;

  div {
    height: 30px;
    width: 100%;
    line-height: 30px;
  }

  button {
    height: 30px;
    width: 85%;
  }

  button:last-of-type {
    margin-bottom: 5px;
  }
}

.open {
  display: block;
}

.closed {
  display: none;
}

#remaining-characters {
  width: 120px;
  display: inline-block;
  float: right;
  margin-right: 10px;

  h5 {
    margin: 6px auto;
    margin-top: 0px;  
    color: #fff;
  }

  .remaining-character {
    margin: 0 auto;
    width: 104px;
    height: auto;
    margin-bottom: 5px;

    .character-image {
      width: 100px;
      height: 150px;
      border: 2px solid #000;
    }
  }
}
