<div class="puzzle">
  <div class="heading">
    <h1><%= @puzzle.name %></h1>
    <h1><%= link_to "Back To Puzzles", root_path %></h1>
  </div>
  <div class="selection-menu closed">
    <div>Who is this?</div>
    <button>Waldo</button>
    <button>Wenda</button>
    <button>Wizard</button>
  </div>
  <%= image_tag(@puzzle.image_url, class: "puzzle-image") %>
</div>
